
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-color: #495057;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.nav h1{
    margin-left: 10px;
}

.profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: violet;
}

.banner{
    height: 50px;
    
    background-color: #12b886;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h3{
    margin-left: 10px;
}
.search{
    display: flex;
}

.search input{
    color: white;
}

.contain{
    display: flex;
}

.form{
    background-color: #1E847F;
    width: 80%;
}


.products h5{
    text-align: center;
    padding: 10px 0;
}

.form,.products{
}

.product{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product img{ 
    
}

.card-body{
    display:flex;
    flex-direction: column;
    padding-right: 0px;
}



